.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Adjust the margin as needed */
}

.line {
  flex: 1;
  height: 2px; /* Adjust the height as needed */
  background-color: #d3d3d3; /* Light gray color */
  margin: 0 10px; /* Adjust the margin between lines and dot */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #d3d3d3; /* Light gray color */
  border-radius: 50%;
}
