.course-soft-input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 15px;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 3px 10px #cccccc, -5px -5px 10px #ffffff;
  font-size: 16px;
  color: #333333;
  outline: none;
  text-transform: capitalize;
}

.course-soft-input:focus {
  border-color: #007bff;
  box-shadow: inset 3px 3px 5px #cccccc, inset -3px -3px 5px #ffffff;
  outline: none;
}

.course-soft-button {
  transition: background-color 0.8s ease-in-out;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 10px;
  box-shadow: 5px 3px 10px #cccccc, -5px -5px 10px #ffffff;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}

.course-soft-button:hover {
  box-shadow: 5px 5px 10px #bbbbbb, -5px -1px 10px #878585ef;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);

}

.course-soft-button:active {
  box-shadow: inset 3px 3px 5px #cccccc, inset -3px -3px 5px #ffffff;
}
