.fixed.inset-0.z-50.flex.items-center.justify-center {
  overflow: auto;
  max-height: 100vh;
}

.bg-white.rounded-lg.shadow-lg.w-full.max-w-md.mx-auto.p-6.relative.z-10.overflow-auto {
  max-height: 90vh;
  overflow-y: auto;
}

ul {
  max-height: 150px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  width: 1px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.collapsible-content.expanded {
  max-height: 500px; /* adjust this value according to your content */
}

.soft-button-course-details {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #47ced3, #3e67be);
  box-shadow: 5px 3px 10px #cccccc, -5px -5px 10px #ffffff;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.soft-button-course-details:hover {
  box-shadow: 5px 5px 10px #bbbbbb, -5px -1px 10px #878585ef;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.scrollable-list {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  padding-right: 10px; /* Adjust padding for scrollbar */
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.scrollable-list {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  padding-right: 10px; /* Adjust padding for scrollbar */
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.grid-item div {
  display: flex;
  align-items: center;
}

.grid-item img {
  width: 24px; /* Adjust the size of the icon */
  height: 24px;
  margin-right: 8px;
}

