.sub-role-buttons {
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none;
  border-radius: 10px; /* Rounded corners */
  background: linear-gradient(
    145deg,
    #ffffff,
    #e6e6e6
  ); /* Soft gradient background */
  box-shadow: 5px 3px 10px #cccccc, -5px -5px 10px #ffffff; /* Soft shadow */
  font-size: 16px; /* Adjust the font size as needed */
  color: #333333; /* Text color */
  cursor: pointer;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
}

.container p {
  margin-bottom: 5%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  width: 50%;
  margin-bottom: 5%;
}

.sub-role-buttons:hover {
  box-shadow: 5px 5px 10px #bbbbbb, -5px -1px 10px #878585ef; /* Soft shadow on hover */
}

.sub-role-buttons:active {
  box-shadow: inset 3px 3px 5px #cccccc, inset -3px -3px 5px #ffffff; /* Inner shadow effect */
}
